site_name: Seafile admin manual
site_author: seafile
docs_dir: ./manual
site_url: https://haiwen.github.io/seafile-admin-docs/

repo_name: haiwen/seafile-admin-docs
repo_url: https://github.com/haiwen/seafile-admin-docs/
edit_uri: blob/master/manual

copyright: Copyright &copy; 2020 seafile

theme:
  name: material
  logo: media/seafile-transparent-1024.png
  favicon: media/favicon.ico
  palette:
    primary: white
    accent:

plugins:
  - search
  - awesome-pages

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/haiwen/seafile-admin-docs/

extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: true
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
      toc_depth: "1-4"

# Page tree
nav:
  - Overview:
    - Seafile Components: overview/components.md
    - File permission management: overview/file_permission_management.md
    - Roadmap: roadmap.md
    - FAQ: faq/README.md
    - Contribution: contribution.md
    - Changelog: changelog.md
  - Deploy Seafile under Linux:
    - Forward: deploy/README.md
    - Deploy with SQLite: deploy/using_sqlite.md
    - Deploy with MySQL: deploy/using_mysql.md
    - Deploy with Docker: deploy/deploy_with_docker.md
    - Config Seahub with Nginx: deploy/deploy_with_nginx.md
    - Enabling Https with Nginx: deploy/https_with_nginx.md
    - Config Seahub with Apache: deploy/deploy_with_apache.md
    - Enabling Https with Apache: deploy/https_with_apache.md
    - LDAP/AD Integration: deploy/using_ldap.md
    - Single Sign On:
      - Forward: deploy/single_sign_on.md
      - Shibboleth Authentication for Seafile v6.2: deploy/shibboleth_config.md
      - Shibboleth Authentication for Seafile v6.3+: deploy/shibboleth_config_v6.3.md
      - OAuth Authentication: deploy/oauth.md
      - Remote User Authentication: deploy/remote_user.md
    - Syslog Integration: deploy/using_syslog.md
    - Online File Preview and Edit:
      - LibreOffice Online Integration: deploy/libreoffice_online.md
      - OnlyOffice Integration: deploy/only_office.md
    - Open cloud mesh: deploy/ocm.md
    - Other Deployment Notes:
      - Start Seafile at System Bootup: deploy/start_seafile_at_system_bootup.md
      - Firewall settings: deploy/using_firewall.md
      - Logrotate: deploy/using_logrotate.md
      - Add Memcached: deploy/add_memcached.md
      - Deploy Seafile behind NAT: deploy/deploy_seafile_behind_nat.md
      - Deploy Seahub at Non-root domain: deploy/deploy_seahub_at_non-root_domain.md
      - Migrate From SQLite to MySQL: deploy/migrate_from_sqlite_to_mysql.md
    - Common Problems for Setting up Server: faq.md
  - Deploy Seafile Pro Edition:
    - Forward: deploy_pro/README.md
    - Download and Setup Seafile Professional Server: deploy_pro/download_and_setup_seafile_professional_server.md
    - Deploy Seafile-pro with Docker: deploy_pro/deploy_with_docker.md
    - Migrate from Seafile Community Server: deploy_pro/migrate_from_seafile_community_server.md
    - Upgrading Seafile Professional Server: deploy_pro/upgrading_seafile_professional_server.md
    - LDAP/AD Integration:
      - LDAP Configuration for Seafile Pro: deploy_pro/using_ldap_pro.md
      - Importing Groups from LDAP: deploy_pro/ldap_group_sync.md
      - Importing Roles from LDAP: deploy_pro/ldap_role_sync.md
    - Online File Preview and Edit:
      - Office Documents Preview: deploy_pro/office_documents_preview.md
      - Office Online Server Integration: deploy_pro/office_web_app.md
    - File Search: deploy_pro/details_about_file_search.md
    - Virus Scan:
      - Forward: deploy_pro/virus_scan.md
      - Run ClamAV as a Daemon: deploy_pro/deploy_clamav_as_daemon.md
      - Virus Scan With Kav4fs: deploy_pro/virus_scan_with_kav4fs.md
    - Storage Backends:
      - Amazon S3 Backend: deploy_pro/setup_with_amazon_s3.md
      - Ceph Backend: deploy_pro/setup_with_ceph.md
      - OpenStack Swift Backend: deploy_pro/setup_with_swift.md
      - Multiple Storage Backends: deploy_pro/multiple_storage_backends.md
      - Data migration: deploy_pro/migrate.md
    - Cluster Deployment:
      - Deploy in a cluster: deploy_pro/deploy_in_a_cluster.md
      - Search and background tasks in a cluster: deploy_pro/enable_search_and_background_tasks_in_a_cluster.md
      - Memcache and MariaDB Cluster: deploy_pro/memcached_mariadb_cluster.md
      - Setup Seafile cluster with NFS: deploy_pro/setup_seafile_cluster_with_nfs.md
      - Upgrade a cluster: deploy_pro/upgrade_a_cluster.md
    - Advanced User Management:
      - Multi-Institutions Support: deploy_pro/multi_institutions.md
      - Roles and Permissions: deploy_pro/roles_permissions.md
      - Administrator Roles and Permissions: deploy_pro/admin_roles_permissions.md
      - Multi-Tenancy Support: deploy_pro/multi_tenancy.md
    - Advanced Authentication:
      - Two-factor Authentication: deploy_pro/two_factor_authentication.md
      - ADFS or SAML 2.0: deploy_pro/adfs.md
      - CAS Authentication: deploy_pro/cas.md
    - Advanced Maintenance Tools:
      - Real-time Backup Server: deploy_pro/real_time_backup.md
      - Import Directory To Seafile: deploy_pro/seaf_import.md
    - License: deploy_pro/seafile_professional_sdition_software_license_agreement.md
  - Deploy Seafile with Docker:
    - Deploy Seafile with Docker: docker/deploy seafile with docker.md
    - Deploy Seafile Pro Edition with Docker: docker/pro-edition/Deploy Seafile-pro with Docker.md
    - Migrate CE to Pro with Docker: docker/pro-edition/Migrate CE to Pro with Docker.md
    - Upgrade from 6.3 to 7.0:
      - Upgrade Seafile Docker CE: docker/6.3 upgrade to 7.0.md
      - Upgrade Seafile Docker Pro: docker/pro-edition/6.3 upgrade to 7.0.md
    - Upgrade for other versions:
      - 7.0 to 7.1: docker/upgrade/7.0_7.1.md
  - Configuration and Customization:
    - Forward: config/README.md
    - ccnet.conf: config/ccnet-conf.md
    - seafile.conf: config/seafile-conf.md
    - seahub_settings.py: config/seahub_settings_py.md
    - seafevents.conf: config/seafevents-conf.md
    - Seahub customization: config/seahub_customization.md
    - Email Sending: config/sending_email.md
  - Administration:
    - Forward: maintain/README.md
    - Account management: maintain/account.md
    - Logs: maintain/logs.md
    - Backup and Recovery: maintain/backup_recovery.md
    - Seafile FSCK: maintain/seafile_fsck.md
    - Seafile GC: maintain/seafile_gc.md
    - Clean database: maintain/clean_database.md
    - Export report: maintain/export_report.md
  - Upgrade Seafile server:
    - Forward: upgrade/upgrade.md
    - Upgrade notes for 5.x.x: upgrade/upgrade_notes_for_5.x.x.md
    - Upgrade notes for 6.x.x: upgrade/upgrade_notes_for_6.x.x.md
    - Upgrade notes for 7.0.x: upgrade/upgrade_notes_for_7.0.x.md
    - Upgrade notes for 7.1.x: upgrade/upgrade_notes_for_7.1.x.md
  - WebDAV and FUSE extensions:
    - Forward: extension/README.md
    - WebDAV extension: extension/webdav.md
    - FUSE extension: extension/fuse.md
  - Security and Auditing:
    - Security features: security/security_features.md
    - Access logs and auditing: security/auditing.md
    - Config fail2ban: security/fail2ban.md
  - Developing:
    - Forward: develop/README.md
    - How to Build Seafile:
      - Forward: build_seafile/README.md
      - Linux: build_seafile/linux.md
      - FreeBSD: build_seafile/freebsd.md
      - Mac OS X: build_seafile/osx.md
      - Server: build_seafile/server.md
      - Raspberry Pi: build_seafile/rpi.md
    - Develop env: develop/env.md
    - Translation: develop/translation.md
    - Web API V2.1: develop/web_api_v2.1.md
    - Python API: develop/python_api.md
    - PHP API: https://github.com/rene-s/Seafile-PHP-SDK
    - Data Model: develop/data_model.md
    - Server Components: develop/server-components.md
  - ChangeLog:
    - Seafile Community Edition: changelog/server-changelog.md
    - Seafile Professional Edition: changelog/changelog-for-seafile-professional-server.md
    - Seafile Client: changelog/client-changelog.md
    - Drive Client ChangeLog: changelog/drive-client-changelog.md
