site_name: Seafile Admin Manual
site_author: seafile
docs_dir: ./manual
site_url: https://haiwen.github.io/seafile-admin-docs/

repo_name: haiwen/seafile-admin-docs
repo_url: https://github.com/haiwen/seafile-admin-docs/
edit_uri: blob/master/manual

copyright: Copyright &copy; 2020 seafile

theme:
  name: material
  logo: media/seafile-transparent-1024.png
  favicon: media/favicon.ico
  palette:
    primary: white
    accent:

plugins:
  - search
  - awesome-pages

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/haiwen/seafile-admin-docs/

extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: true
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
      toc_depth: "1-4"

# Page tree
nav:
  - Overview:
    - Seafile Components: overview/components.md
    - File permission management: overview/file_permission_management.md
    - Roadmap: roadmap.md
    - Contribution: contribution.md
    - Changelog: changelog.md
  - Seafile Community Setup on Linux:
    - Outline: deploy/README.md
    - Installation with SQLite: deploy/using_sqlite.md
    - Installation with MySQL: deploy/using_mysql.md
    - HTTPS with Nginx: deploy/https_with_nginx.md
    - HTTPS with Apache: deploy/https_with_apache.md
    - Add Memcached: deploy/add_memcached.md
    - Common Problems for Setting up Server: faq.md
  - Seafile Professional Setup on Linux:
    - Outline: deploy_pro/README.md
    - Installation: deploy_pro/download_and_setup_seafile_professional_server.md
    - Memcached Options for Pro Edition: deploy_pro/memcached_options.md
    - Migration from Seafile Community: deploy_pro/migrate_from_seafile_community_server.md      
    - Storage Backends:
      - Amazon S3 Backend: deploy_pro/setup_with_amazon_s3.md
      - Ceph Backend: deploy_pro/setup_with_ceph.md
      - OpenStack Swift Backend: deploy_pro/setup_with_swift.md
      - Alibaba OSS: deploy_pro/setup_with_oss.md
      - Multiple Storage Backends: deploy_pro/multiple_storage_backends.md
      - Data migration: deploy_pro/migrate.md
    - Cluster Deployment:
      - Deploy in a cluster: deploy_pro/deploy_in_a_cluster.md
      - Search and background tasks in a cluster: deploy_pro/enable_search_and_background_tasks_in_a_cluster.md
      - Memcache and MariaDB Cluster: deploy_pro/memcached_mariadb_cluster.md
      - Notification Server in Cluster: deploy_pro/notification-server.md
      - Setup Seafile cluster with NFS: deploy_pro/setup_seafile_cluster_with_nfs.md
      - Upgrade a cluster: deploy_pro/upgrade_a_cluster.md
    - Advanced Maintenance Tools:
      - Real-time Backup Server: deploy_pro/real_time_backup.md
      - Import Directory To Seafile: deploy_pro/seaf_import.md
    - License: deploy_pro/seafile_professional_sdition_software_license_agreement.md
  - Seafile Setup with Docker:
    - Seafile Community Installation: docker/deploy_seafile_with_docker.md
    - Seafile Professional Installation: docker/pro-edition/deploy_seafile_pro_with_docker.md
    - Seafile Docker Cluster Deployment: docker/cluster/deploy_seafile_cluster_with_docker.md
    - Migration from Seafile Community: docker/pro-edition/migrate_ce_to_pro_with_docker.md
    - Migrate from non-docker deployment: docker/non_docker_to_docker.md
    - Upgrade from 6.3 to 7.0:
      - Upgrade Seafile Docker CE: docker/6.3_upgrade_to_7.0.md
      - Upgrade Seafile Docker Pro: docker/pro-edition/6.3_upgrade_to_7.0.md
    - Upgrade for other versions: docker/upgrade/upgrade_docker.md
  - Advanced Setup Options:
    - Online Office:
      - LibreOffice Online Integration: deploy/libreoffice_online.md
      - OnlyOffice Integration: deploy/only_office.md
      - Office Online Server Integration (Pro): deploy_pro/office_web_app.md
    - Notification Server: deploy/notification-server.md
    - Two-factor Authentication: deploy_pro/two_factor_authentication.md
    - LDAP/AD Integration: 
      - LDAP Integration: deploy/using_ldap.md
      - LDAP Configuration for Seafile Pro: deploy_pro/using_ldap_pro.md
      - Importing Groups from LDAP (Pro): deploy_pro/ldap_group_sync.md
      - Importing Roles from LDAP (Pro): deploy_pro/ldap_role_sync.md
    - Single Sign On:
      - Outline: deploy/single_sign_on.md
      - Shibboleth Authentication: deploy/shibboleth_config_v6.3.md
      - OAuth Authentication: deploy/oauth.md
      - Remote User Authentication: deploy/remote_user.md
      - Auto Login to SeaDrive on Windows: deploy/auto_login_seadrive.md
      - ADFS or SAML 2.0 (Pro): deploy_pro/adfs.md
      - SAML 2.0 in version 10.0 (Pro): deploy_pro/saml2_in_10.0.md
      - CAS Authentication (Pro): deploy_pro/cas.md
    - Virus Scan (Pro):
      - Outline: deploy_pro/virus_scan.md
      - Run ClamAV as a Daemon: deploy_pro/deploy_clamav_as_daemon.md
      - Virus Scan With Kav4fs: deploy_pro/virus_scan_with_kav4fs.md
    - Advanced User Management (Pro):
      - Multi-Institutions Support: deploy_pro/multi_institutions.md
      - Roles and Permissions: deploy_pro/roles_permissions.md
      - Administrator Roles and Permissions: deploy_pro/admin_roles_permissions.md
      - Multi-Tenancy Support: deploy_pro/multi_tenancy.md
    - Advanced File Search configuration (Pro): deploy_pro/details_about_file_search.md
    - Migrate From SQLite to MySQL: deploy/migrate_from_sqlite_to_mysql.md
    - Others Deployment Notes:
      - Open Cloud Mesh: deploy/ocm.md
      - Firewall settings: deploy/using_firewall.md
      - Deploy Seafile behind NAT: deploy/deploy_seafile_behind_nat.md
      - Deploy Seahub at Non-root domain: deploy/deploy_seahub_at_non-root_domain.md
      - Start Seafile at System Bootup: deploy/start_seafile_at_system_bootup.md
      - Logrotate: deploy/using_logrotate.md
  - Configuration and Customization:
    - Outline: config/README.md
    - ccnet.conf: config/ccnet-conf.md
    - seafile.conf: config/seafile-conf.md
    - seahub_settings.py: config/seahub_settings_py.md
    - seafevents.conf: config/seafevents-conf.md
    - Seahub customization: config/seahub_customization.md
    - Email Sending: config/sending_email.md
  - Administration:
    - Outline: maintain/README.md
    - Account management: maintain/account.md
    - Logs: maintain/logs.md
    - Backup and Recovery: maintain/backup_recovery.md
    - Seafile FSCK: maintain/seafile_fsck.md
    - Seafile GC: maintain/seafile_gc.md
    - Clean database: maintain/clean_database.md
    - Export report: maintain/export_report.md
  - Upgrade Seafile Server:
    - Outline: upgrade/upgrade.md
    - Upgrade notes for 7.0.x: upgrade/upgrade_notes_for_7.0.x.md
    - Upgrade notes for 7.1.x: upgrade/upgrade_notes_for_7.1.x.md
    - Upgrade notes for 8.0.x: upgrade/upgrade_notes_for_8.0.x.md
    - Upgrade notes for 9.0.x: upgrade/upgrade_notes_for_9.0.x.md
    - Upgrade notes for 10.0.x: upgrade/upgrade_notes_for_10.0.x.md
    - Upgrade notes for 11.0.x: upgrade/upgrade_notes_for_11.0.x.md
  - WebDAV and FUSE extensions:
    - Outline: extension/README.md
    - WebDAV extension: extension/webdav.md
    - FUSE extension: extension/fuse.md
  - Security and Auditing:
    - Security features: security/security_features.md
    - Access logs and auditing: security/auditing.md
    - Config fail2ban: security/fail2ban.md
  - Developing:
    - Outline: develop/README.md
    - How to Build Seafile:
      - Outline: build_seafile/README.md
      - Linux: build_seafile/linux.md
      - FreeBSD: build_seafile/freebsd.md
      - Mac OS X: build_seafile/osx.md
      - Windows: build_seafile/windows.md
      - Server: build_seafile/server.md
      - Raspberry Pi: build_seafile/rpi.md
    - Develop env: develop/env.md
    - Translation: develop/translation.md
    - Web API V2.1: develop/web_api_v2.1.md
    - Python API: develop/python_api.md
    - PHP API: https://github.com/rene-s/Seafile-PHP-SDK
    - Data Model: develop/data_model.md
    - Server Components: develop/server-components.md
  - ChangeLog:
    - Seafile Community Edition: changelog/server-changelog.md
    - Seafile Professional Edition: changelog/changelog-for-seafile-professional-server.md
    - Seafile Client: changelog/client-changelog.md
    - Drive Client: changelog/drive-client-changelog.md
