services:
  seafile-ai:
    image: ${SEAFILE_AI_IMAGE:-seafileltd/seafile-ai:latest}
    container_name: seafile-ai
    volumes:
      - ${SEAFILE_VOLUME:-/opt/seafile-data}:/shared
    # ports:
    #   - 8888:8888
    environment:
      - SEAFILE_AI_LLM_TYPE=${SEAFILE_AI_LLM_TYPE:-openai}
      - SEAFILE_AI_LLM_URL=${SEAFILE_AI_LLM_URL:-}
      - SEAFILE_AI_LLM_KEY=${SEAFILE_AI_LLM_KEY:-}
      - FACE_EMBEDDING_SERVICE_URL=${FACE_EMBEDDING_SERVICE_URL:-http://face-embedding:8886}
      - FACE_EMBEDDING_SERVICE_KEY=${FACE_EMBEDDING_SERVICE_KEY:-${JWT_PRIVATE_KEY:?Variable is not set or empty}}
      - SEAFILE_SERVER_URL=${SEAFILE_SERVER_PROTOCOL:-http}://${SEAFILE_SERVER_HOSTNAME:?Variable is not set or empty}
      - JWT_PRIVATE_KEY=${JWT_PRIVATE_KEY:?Variable is not set or empty}
      - SEAFILE_AI_LOG_LEVEL=${SEAFILE_AI_LOG_LEVEL:-info}
    networks:
      - seafile-net

networks:
  seafile-net:
    name: seafile-net
