apiVersion: apps/v1
kind: Deployment
metadata:
  name: seafile-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seafile-backend
  template:
    metadata:
      labels:
        app: seafile-backend
    spec:
      initContainers:  
        - name: set-ownership  
          image: busybox  
          command: ['sh', '-c', 'chown -R root:root /shared']  
          volumeMounts:  
          - name: seafile-data  
            mountPath: /shared
      containers:
        - name: seafile-backend
          image: seafileltd/seafile-pro-mc:12.0-latest
          env:
            - name: CLUSTER_SERVER
              value: "true"
            - name: CLUSTER_MODE
              value: "frontend"
            - name: TIME_ZONE
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: TIME_ZONE
            - name: SEAFILE_LOG_TO_STDOUT
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_LOG_TO_STDOUT
            - name: SITE_ROOT
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SITE_ROOT
            - name: ENABLE_SEADOC
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: ENABLE_SEADOC
            - name: SEADOC_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEADOC_SERVER_URL
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_PORT
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_USER
            - name: SEAFILE_MYSQL_DB_CCNET_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_CCNET_DB_NAME
            - name: SEAFILE_MYSQL_DB_SEAFILE_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_SEAFILE_DB_NAME
            - name: SEAFILE_MYSQL_DB_SEAHUB_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: SEAFILE_MYSQL_DB_SEAHUB_DB_NAME
            - name: CLUSTER_INIT_MODE
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: CLUSTER_INIT_MODE
            - name: CLUSTER_INIT_MEMCACHED_HOST
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: CLUSTER_INIT_MEMCACHED_HOST
            - name: CLUSTER_INIT_ES_HOST
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: CLUSTER_INIT_ES_HOST
            - name: CLUSTER_INIT_ES_PORT
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: CLUSTER_INIT_ES_PORT
            - name: INIT_S3_STORAGE_BACKEND_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_STORAGE_BACKEND_CONFIG
            - name: INIT_S3_COMMIT_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_COMMIT_BUCKET
            - name: INIT_S3_FS_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_FS_BUCKET
            - name: INIT_S3_BLOCK_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_BLOCK_BUCKET
            - name: INIT_S3_KEY_ID
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_KEY_ID
            - name: INIT_S3_USE_V4_SIGNATURE
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_USE_V4_SIGNATURE
            - name: INIT_S3_AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_AWS_REGION
            - name: INIT_S3_HOST
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_HOST
            - name: INIT_S3_USE_HTTPS
              valueFrom:
                configMapKeyRef:
                  name: seafile-env
                  key: INIT_S3_USE_HTTPS
            - name: JWT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: seafile-secret
                  key: JWT_PRIVATE_KEY
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: seafile-secret
                  key: SEAFILE_MYSQL_DB_PASSWORD
            - name: DB_ROOT_PASSWD
              valueFrom:
                secretKeyRef:
                  name: seafile-secret
                  key: INIT_SEAFILE_MYSQL_ROOT_PASSWORD
            - name: INIT_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: seafile-secret
                  key: INIT_S3_SECRET_KEY
          volumeMounts:
            - name: seafile-data
              mountPath: /shared
      volumes:
        - name: seafile-data
          persistentVolumeClaim:
            claimName: seafile-data
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred